{
  "swagger": "2.0",
  "info": {
    "title": "GitLab",
    "description": "Connect to GitLab (SaaS gitlab.com or a self-managed instance) to manage projects, issues, merge requests, pipelines, and comments.",
    "version": "1.0.0",
    "contact": {
      "name": "GitLab Connector",
      "url": "https://docs.gitlab.com/ee/api/"
    }
  },
  "host": "gitlab.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "GetCurrentUser",
        "summary": "Get current user",
        "description": "Gets the profile of the authenticated user.",
        "responses": {
          "200": {
            "description": "The authenticated user.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "ListProjects",
        "summary": "List projects",
        "description": "Lists projects that the authenticated user can access.",
        "parameters": [
          {
            "name": "membership",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "Limit to projects the current user is a member of.",
            "x-ms-summary": "Member projects only"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return projects matching the search term.",
            "x-ms-summary": "Search"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "name",
              "path",
              "created_at",
              "updated_at",
              "last_activity_at"
            ],
            "default": "last_activity_at",
            "description": "Field to order results by.",
            "x-ms-summary": "Order by"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      },
      "post": {
        "operationId": "CreateProject",
        "summary": "Create project",
        "description": "Creates a new GitLab project.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProjectRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created project.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "operationId": "GetProject",
        "summary": "Get project",
        "description": "Gets a single project by numeric ID or URL-encoded path (group/project).",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "The project.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/issues": {
      "get": {
        "operationId": "ListIssues",
        "summary": "List issues",
        "description": "Lists issues for a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "opened",
              "closed",
              "all"
            ],
            "default": "opened",
            "description": "Return issues in the given state.",
            "x-ms-summary": "State"
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of label names.",
            "x-ms-summary": "Labels"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search issues by title and description.",
            "x-ms-summary": "Search"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of issues.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Issue"
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      },
      "post": {
        "operationId": "CreateIssue",
        "summary": "Create issue",
        "description": "Creates a new issue in a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIssueRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created issue.",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/issues/{issue_iid}": {
      "get": {
        "operationId": "GetIssue",
        "summary": "Get issue",
        "description": "Gets a single project issue by its internal ID (IID).",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/IssueIid"
          }
        ],
        "responses": {
          "200": {
            "description": "The issue.",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      },
      "put": {
        "operationId": "UpdateIssue",
        "summary": "Update issue",
        "description": "Updates an existing project issue.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/IssueIid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated issue.",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/issues/{issue_iid}/notes": {
      "post": {
        "operationId": "AddIssueComment",
        "summary": "Add comment to issue",
        "description": "Adds a note (comment) to a project issue.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/IssueIid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateNoteRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created note.",
            "schema": {
              "$ref": "#/definitions/Note"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/merge_requests": {
      "get": {
        "operationId": "ListMergeRequests",
        "summary": "List merge requests",
        "description": "Lists merge requests for a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "opened",
              "closed",
              "locked",
              "merged",
              "all"
            ],
            "default": "opened",
            "description": "Return merge requests in the given state.",
            "x-ms-summary": "State"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of merge requests.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MergeRequest"
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      },
      "post": {
        "operationId": "CreateMergeRequest",
        "summary": "Create merge request",
        "description": "Creates a merge request in a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMergeRequestRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created merge request.",
            "schema": {
              "$ref": "#/definitions/MergeRequest"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/pipelines": {
      "get": {
        "operationId": "ListPipelines",
        "summary": "List pipelines",
        "description": "Lists pipelines for a project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "ref",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter pipelines by branch or tag name.",
            "x-ms-summary": "Ref (branch or tag)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created",
              "waiting_for_resource",
              "preparing",
              "pending",
              "running",
              "success",
              "failed",
              "canceled",
              "skipped",
              "manual",
              "scheduled"
            ],
            "description": "Filter pipelines by status.",
            "x-ms-summary": "Status"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of pipelines.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pipeline"
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/pipeline": {
      "post": {
        "operationId": "TriggerPipeline",
        "summary": "Trigger pipeline",
        "description": "Creates (triggers) a new pipeline for a given branch or tag.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerPipelineRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The triggered pipeline.",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/fork": {
      "post": {
        "operationId": "ForkProject",
        "summary": "Fork project",
        "description": "Forks a project into the current user's namespace or a chosen namespace.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForkProjectRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The forked project.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/merge_requests/{merge_request_iid}": {
      "put": {
        "operationId": "UpdateMergeRequest",
        "summary": "Update merge request",
        "description": "Updates an existing merge request (for example, retitle, retarget, close, or reopen).",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/MergeRequestIid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMergeRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated merge request.",
            "schema": {
              "$ref": "#/definitions/MergeRequest"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/merge_requests/{merge_request_iid}/merge": {
      "put": {
        "operationId": "MergeMergeRequest",
        "summary": "Merge merge request",
        "description": "Accepts and merges a merge request.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/MergeRequestIid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeMergeRequestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The merged merge request.",
            "schema": {
              "$ref": "#/definitions/MergeRequest"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/repository/branches": {
      "post": {
        "operationId": "CreateBranch",
        "summary": "Create branch",
        "description": "Creates a new branch in the repository.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "branch",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of the new branch.",
            "x-ms-summary": "Branch name"
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Branch name or commit SHA to create the branch from.",
            "x-ms-summary": "Ref (branch or SHA)"
          }
        ],
        "responses": {
          "201": {
            "description": "The created branch.",
            "schema": {
              "$ref": "#/definitions/Branch"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/repository/commits": {
      "post": {
        "operationId": "CreateCommit",
        "summary": "Create commit",
        "description": "Creates a commit with one or more file actions (create, update, delete, move).",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCommitRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The created commit.",
            "schema": {
              "$ref": "#/definitions/Commit"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/repository/files/{file_path}": {
      "get": {
        "operationId": "GetFile",
        "summary": "Get file",
        "description": "Gets a file from the repository, including its Base64 content.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/FilePath"
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of a branch, tag, or commit. Use HEAD for the default branch.",
            "x-ms-summary": "Ref (branch, tag, or commit)"
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "schema": {
              "$ref": "#/definitions/FileContent"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/hooks": {
      "get": {
        "operationId": "ListProjectHooks",
        "summary": "List project hooks",
        "description": "Lists the webhooks configured on a project.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of project hooks.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectHook"
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/hooks/{hook_id}": {
      "delete": {
        "operationId": "DeleteProjectHook",
        "summary": "Delete project hook",
        "description": "Deletes a project webhook by its ID. Use this to clean up hooks manually if needed.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/HookId"
          }
        ],
        "responses": {
          "204": {
            "description": "The hook was deleted."
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/push_hooks": {
      "x-ms-notification-content": {
        "description": "When code is pushed payload.",
        "schema": {
          "$ref": "#/definitions/PushEvent"
        }
      },
      "post": {
        "operationId": "OnPushEvent",
        "summary": "When code is pushed",
        "description": "When code is pushed. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, push a commit to a branch in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/tag_push_hooks": {
      "x-ms-notification-content": {
        "description": "When a tag is pushed payload.",
        "schema": {
          "$ref": "#/definitions/TagPushEvent"
        }
      },
      "post": {
        "operationId": "OnTagPushEvent",
        "summary": "When a tag is pushed",
        "description": "When a tag is pushed. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, push a tag to the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "tag_push_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "tag_push_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/issue_hooks": {
      "x-ms-notification-content": {
        "description": "When an issue is created or updated payload.",
        "schema": {
          "$ref": "#/definitions/IssueEvent"
        }
      },
      "post": {
        "operationId": "OnIssueEvent",
        "summary": "When an issue is created or updated",
        "description": "When an issue is created or updated. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create or edit an issue in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "issues_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "issues_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                },
                "confidential_issues_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Include confidential issues.",
                  "x-ms-summary": "Include confidential issues"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/merge_request_hooks": {
      "x-ms-notification-content": {
        "description": "When a merge request is created or updated payload.",
        "schema": {
          "$ref": "#/definitions/MergeRequestEvent"
        }
      },
      "post": {
        "operationId": "OnMergeRequestEvent",
        "summary": "When a merge request is created or updated",
        "description": "When a merge request is created or updated. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create or edit a merge request in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "merge_requests_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "merge_requests_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/note_hooks": {
      "x-ms-notification-content": {
        "description": "When a comment is added payload.",
        "schema": {
          "$ref": "#/definitions/NoteEvent"
        }
      },
      "post": {
        "operationId": "OnNoteEvent",
        "summary": "When a comment is added",
        "description": "When a comment is added. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, add a comment to an issue or merge request.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "note_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "note_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                },
                "confidential_note_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Include internal comments.",
                  "x-ms-summary": "Include internal comments"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/pipeline_hooks": {
      "x-ms-notification-content": {
        "description": "When a pipeline status changes payload.",
        "schema": {
          "$ref": "#/definitions/PipelineEvent"
        }
      },
      "post": {
        "operationId": "OnPipelineEvent",
        "summary": "When a pipeline status changes",
        "description": "When a pipeline status changes. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, run a pipeline in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "pipeline_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "pipeline_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/job_hooks": {
      "x-ms-notification-content": {
        "description": "When a job status changes payload.",
        "schema": {
          "$ref": "#/definitions/JobEvent"
        }
      },
      "post": {
        "operationId": "OnJobEvent",
        "summary": "When a job status changes",
        "description": "When a job status changes. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, run a CI job in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "job_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "job_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/wiki_page_hooks": {
      "x-ms-notification-content": {
        "description": "When a wiki page changes payload.",
        "schema": {
          "$ref": "#/definitions/WikiPageEvent"
        }
      },
      "post": {
        "operationId": "OnWikiPageEvent",
        "summary": "When a wiki page changes",
        "description": "When a wiki page changes. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create or edit a wiki page in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "wiki_page_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "wiki_page_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/deployment_hooks": {
      "x-ms-notification-content": {
        "description": "When a deployment status changes payload.",
        "schema": {
          "$ref": "#/definitions/DeploymentEvent"
        }
      },
      "post": {
        "operationId": "OnDeploymentEvent",
        "summary": "When a deployment status changes",
        "description": "When a deployment status changes. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, run a deployment in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "deployment_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "deployment_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/release_hooks": {
      "x-ms-notification-content": {
        "description": "When a release is created or updated payload.",
        "schema": {
          "$ref": "#/definitions/ReleaseEvent"
        }
      },
      "post": {
        "operationId": "OnReleaseEvent",
        "summary": "When a release is created or updated",
        "description": "When a release is created or updated. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create a release in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "releases_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "releases_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/milestone_hooks": {
      "x-ms-notification-content": {
        "description": "When a milestone is created or updated payload.",
        "schema": {
          "$ref": "#/definitions/MilestoneEvent"
        }
      },
      "post": {
        "operationId": "OnMilestoneEvent",
        "summary": "When a milestone is created or updated",
        "description": "When a milestone is created or updated. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create or edit a milestone in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "milestone_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "milestone_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/feature_flag_hooks": {
      "x-ms-notification-content": {
        "description": "When a feature flag changes payload.",
        "schema": {
          "$ref": "#/definitions/FeatureFlagEvent"
        }
      },
      "post": {
        "operationId": "OnFeatureFlagEvent",
        "summary": "When a feature flag changes",
        "description": "When a feature flag changes. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, toggle a feature flag in the project.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "feature_flag_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "feature_flag_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/projects/{id}/access_token_hooks": {
      "x-ms-notification-content": {
        "description": "When a project access token is expiring payload.",
        "schema": {
          "$ref": "#/definitions/AccessTokenEvent"
        }
      },
      "post": {
        "operationId": "OnAccessTokenEvent",
        "summary": "When a project access token is expiring",
        "description": "When a project access token is expiring. Registers a GitLab project webhook; Power Platform removes it automatically when the flow is turned off.",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "This fires automatically before a project access token expires.",
        "parameters": [
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "notificationUrl",
                "resource_access_token_events",
                "push_events",
                "enable_ssl_verification"
              ],
              "properties": {
                "notificationUrl": {
                  "type": "string",
                  "description": "Callback URL that GitLab posts events to. Populated automatically by Power Platform.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "resource_access_token_events": {
                  "type": "boolean",
                  "default": true,
                  "description": "Subscribe to this event type.",
                  "x-ms-visibility": "internal"
                },
                "push_events": {
                  "type": "boolean",
                  "default": false,
                  "description": "Disabled so the hook only fires on this event type.",
                  "x-ms-visibility": "internal"
                },
                "enable_ssl_verification": {
                  "type": "boolean",
                  "default": true,
                  "description": "Verify the SSL certificate of the callback URL.",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "schema": {
              "$ref": "#/definitions/ProjectHook"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL of the created webhook, used to remove it on unsubscribe."
              }
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "parameters": {
    "ProjectId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The project numeric ID or URL-encoded path (for example, my-group/my-project).",
      "x-ms-summary": "Project ID or path",
      "x-ms-url-encoding": "single"
    },
    "IssueIid": {
      "name": "issue_iid",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "The internal ID (IID) of the issue within the project.",
      "x-ms-summary": "Issue IID",
      "x-ms-url-encoding": "single"
    },
    "HookId": {
      "name": "hook_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "The ID of the project webhook.",
      "x-ms-summary": "Hook ID",
      "x-ms-url-encoding": "single"
    },
    "PerPage": {
      "name": "per_page",
      "in": "query",
      "required": false,
      "type": "integer",
      "default": 20,
      "maximum": 100,
      "description": "Number of items to return per page (max 100).",
      "x-ms-summary": "Items per page"
    },
    "Page": {
      "name": "page",
      "in": "query",
      "required": false,
      "type": "integer",
      "default": 1,
      "description": "Page number of results to return.",
      "x-ms-summary": "Page"
    },
    "MergeRequestIid": {
      "name": "merge_request_iid",
      "in": "path",
      "required": true,
      "type": "integer",
      "description": "The internal ID (IID) of the merge request within the project.",
      "x-ms-summary": "Merge request IID",
      "x-ms-url-encoding": "single"
    },
    "FilePath": {
      "name": "file_path",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "URL-encoded full path to the file, e.g. lib/class.rb.",
      "x-ms-summary": "File path",
      "x-ms-url-encoding": "single"
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "User ID.",
          "x-ms-summary": "ID"
        },
        "username": {
          "type": "string",
          "description": "Username.",
          "x-ms-summary": "Username"
        },
        "name": {
          "type": "string",
          "description": "Full name.",
          "x-ms-summary": "Name"
        },
        "email": {
          "type": "string",
          "description": "Primary email.",
          "x-ms-summary": "Email"
        },
        "state": {
          "type": "string",
          "description": "Account state.",
          "x-ms-summary": "State"
        },
        "web_url": {
          "type": "string",
          "description": "Profile URL.",
          "x-ms-summary": "Web URL"
        },
        "avatar_url": {
          "type": "string",
          "description": "Avatar URL.",
          "x-ms-summary": "Avatar URL"
        }
      }
    },
    "UserRef": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "User ID.",
          "x-ms-summary": "ID"
        },
        "username": {
          "type": "string",
          "description": "Username.",
          "x-ms-summary": "Username"
        },
        "name": {
          "type": "string",
          "description": "Full name.",
          "x-ms-summary": "Name"
        }
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Project ID.",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "Project name.",
          "x-ms-summary": "Name"
        },
        "path_with_namespace": {
          "type": "string",
          "description": "Full path including namespace.",
          "x-ms-summary": "Path with namespace"
        },
        "description": {
          "type": "string",
          "description": "Project description.",
          "x-ms-summary": "Description"
        },
        "default_branch": {
          "type": "string",
          "description": "Default branch name.",
          "x-ms-summary": "Default branch"
        },
        "visibility": {
          "type": "string",
          "description": "Visibility level.",
          "x-ms-summary": "Visibility"
        },
        "web_url": {
          "type": "string",
          "description": "Project URL.",
          "x-ms-summary": "Web URL"
        },
        "star_count": {
          "type": "integer",
          "description": "Number of stars.",
          "x-ms-summary": "Star count"
        },
        "last_activity_at": {
          "type": "string",
          "description": "Timestamp of last activity.",
          "x-ms-summary": "Last activity at"
        }
      }
    },
    "Issue": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Global issue ID.",
          "x-ms-summary": "ID"
        },
        "iid": {
          "type": "integer",
          "description": "Internal issue ID within the project.",
          "x-ms-summary": "IID"
        },
        "project_id": {
          "type": "integer",
          "description": "Owning project ID.",
          "x-ms-summary": "Project ID"
        },
        "title": {
          "type": "string",
          "description": "Issue title.",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Issue description.",
          "x-ms-summary": "Description"
        },
        "state": {
          "type": "string",
          "description": "Issue state (opened or closed).",
          "x-ms-summary": "State"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Applied labels.",
          "x-ms-summary": "Labels"
        },
        "web_url": {
          "type": "string",
          "description": "Issue URL.",
          "x-ms-summary": "Web URL"
        },
        "author": {
          "$ref": "#/definitions/UserRef"
        },
        "created_at": {
          "type": "string",
          "description": "Creation timestamp.",
          "x-ms-summary": "Created at"
        },
        "updated_at": {
          "type": "string",
          "description": "Last update timestamp.",
          "x-ms-summary": "Updated at"
        }
      }
    },
    "CreateIssueRequest": {
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the issue.",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description of the issue (Markdown).",
          "x-ms-summary": "Description"
        },
        "labels": {
          "type": "string",
          "description": "Comma-separated list of label names.",
          "x-ms-summary": "Labels"
        },
        "assignee_ids": {
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "IDs of users to assign.",
          "x-ms-summary": "Assignee IDs"
        },
        "milestone_id": {
          "type": "integer",
          "description": "Milestone ID to associate.",
          "x-ms-summary": "Milestone ID"
        }
      }
    },
    "UpdateIssueRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "New title of the issue.",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "New description of the issue (Markdown).",
          "x-ms-summary": "Description"
        },
        "labels": {
          "type": "string",
          "description": "Comma-separated list of label names (replaces existing).",
          "x-ms-summary": "Labels"
        },
        "state_event": {
          "type": "string",
          "enum": [
            "close",
            "reopen"
          ],
          "description": "State transition to apply.",
          "x-ms-summary": "State event"
        }
      }
    },
    "Note": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Note ID.",
          "x-ms-summary": "ID"
        },
        "body": {
          "type": "string",
          "description": "Note content.",
          "x-ms-summary": "Body"
        },
        "author": {
          "$ref": "#/definitions/UserRef"
        },
        "created_at": {
          "type": "string",
          "description": "Creation timestamp.",
          "x-ms-summary": "Created at"
        }
      }
    },
    "CreateNoteRequest": {
      "type": "object",
      "required": [
        "body"
      ],
      "properties": {
        "body": {
          "type": "string",
          "description": "The comment content (Markdown).",
          "x-ms-summary": "Body"
        }
      }
    },
    "MergeRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Global merge request ID.",
          "x-ms-summary": "ID"
        },
        "iid": {
          "type": "integer",
          "description": "Internal merge request ID within the project.",
          "x-ms-summary": "IID"
        },
        "project_id": {
          "type": "integer",
          "description": "Owning project ID.",
          "x-ms-summary": "Project ID"
        },
        "title": {
          "type": "string",
          "description": "Merge request title.",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Merge request description.",
          "x-ms-summary": "Description"
        },
        "state": {
          "type": "string",
          "description": "Merge request state.",
          "x-ms-summary": "State"
        },
        "source_branch": {
          "type": "string",
          "description": "Source branch.",
          "x-ms-summary": "Source branch"
        },
        "target_branch": {
          "type": "string",
          "description": "Target branch.",
          "x-ms-summary": "Target branch"
        },
        "web_url": {
          "type": "string",
          "description": "Merge request URL.",
          "x-ms-summary": "Web URL"
        },
        "author": {
          "$ref": "#/definitions/UserRef"
        },
        "created_at": {
          "type": "string",
          "description": "Creation timestamp.",
          "x-ms-summary": "Created at"
        }
      }
    },
    "CreateMergeRequestRequest": {
      "type": "object",
      "required": [
        "source_branch",
        "target_branch",
        "title"
      ],
      "properties": {
        "source_branch": {
          "type": "string",
          "description": "The source branch.",
          "x-ms-summary": "Source branch"
        },
        "target_branch": {
          "type": "string",
          "description": "The target branch.",
          "x-ms-summary": "Target branch"
        },
        "title": {
          "type": "string",
          "description": "Title of the merge request.",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description of the merge request (Markdown).",
          "x-ms-summary": "Description"
        },
        "remove_source_branch": {
          "type": "boolean",
          "description": "Remove the source branch when merged.",
          "x-ms-summary": "Remove source branch"
        }
      }
    },
    "Pipeline": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Pipeline ID.",
          "x-ms-summary": "ID"
        },
        "iid": {
          "type": "integer",
          "description": "Internal pipeline ID within the project.",
          "x-ms-summary": "IID"
        },
        "project_id": {
          "type": "integer",
          "description": "Owning project ID.",
          "x-ms-summary": "Project ID"
        },
        "status": {
          "type": "string",
          "description": "Pipeline status.",
          "x-ms-summary": "Status"
        },
        "ref": {
          "type": "string",
          "description": "Branch or tag the pipeline runs on.",
          "x-ms-summary": "Ref"
        },
        "sha": {
          "type": "string",
          "description": "Commit SHA.",
          "x-ms-summary": "SHA"
        },
        "web_url": {
          "type": "string",
          "description": "Pipeline URL.",
          "x-ms-summary": "Web URL"
        },
        "created_at": {
          "type": "string",
          "description": "Creation timestamp.",
          "x-ms-summary": "Created at"
        },
        "updated_at": {
          "type": "string",
          "description": "Last update timestamp.",
          "x-ms-summary": "Updated at"
        }
      }
    },
    "TriggerPipelineRequest": {
      "type": "object",
      "required": [
        "ref"
      ],
      "properties": {
        "ref": {
          "type": "string",
          "description": "The branch or tag to run the pipeline on.",
          "x-ms-summary": "Ref (branch or tag)"
        },
        "variables": {
          "type": "array",
          "description": "Pipeline variables.",
          "x-ms-summary": "Variables",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "Variable name.",
                "x-ms-summary": "Key"
              },
              "value": {
                "type": "string",
                "description": "Variable value.",
                "x-ms-summary": "Value"
              }
            }
          }
        }
      }
    },
    "ProjectHook": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Hook ID.",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "Hook name.",
          "x-ms-summary": "Name"
        },
        "description": {
          "type": "string",
          "description": "Hook description.",
          "x-ms-summary": "Description"
        },
        "url": {
          "type": "string",
          "description": "Callback URL the hook posts to.",
          "x-ms-summary": "URL"
        },
        "project_id": {
          "type": "integer",
          "description": "Owning project ID.",
          "x-ms-summary": "Project ID"
        },
        "push_events": {
          "type": "boolean",
          "description": "Whether the hook fires on push events.",
          "x-ms-summary": "Push events"
        },
        "tag_push_events": {
          "type": "boolean",
          "description": "Whether the hook fires on tag push events.",
          "x-ms-summary": "Tag push events"
        },
        "issues_events": {
          "type": "boolean",
          "description": "Whether the hook fires on issue events.",
          "x-ms-summary": "Issue events"
        },
        "confidential_issues_events": {
          "type": "boolean",
          "description": "Whether the hook fires on confidential issue events.",
          "x-ms-summary": "Confidential issue events"
        },
        "merge_requests_events": {
          "type": "boolean",
          "description": "Whether the hook fires on merge request events.",
          "x-ms-summary": "Merge request events"
        },
        "note_events": {
          "type": "boolean",
          "description": "Whether the hook fires on comment (note) events.",
          "x-ms-summary": "Note events"
        },
        "confidential_note_events": {
          "type": "boolean",
          "description": "Whether the hook fires on internal (confidential) note events.",
          "x-ms-summary": "Confidential note events"
        },
        "job_events": {
          "type": "boolean",
          "description": "Whether the hook fires on job events.",
          "x-ms-summary": "Job events"
        },
        "pipeline_events": {
          "type": "boolean",
          "description": "Whether the hook fires on pipeline events.",
          "x-ms-summary": "Pipeline events"
        },
        "wiki_page_events": {
          "type": "boolean",
          "description": "Whether the hook fires on wiki page events.",
          "x-ms-summary": "Wiki page events"
        },
        "deployment_events": {
          "type": "boolean",
          "description": "Whether the hook fires on deployment events.",
          "x-ms-summary": "Deployment events"
        },
        "releases_events": {
          "type": "boolean",
          "description": "Whether the hook fires on release events.",
          "x-ms-summary": "Release events"
        },
        "milestone_events": {
          "type": "boolean",
          "description": "Whether the hook fires on milestone events.",
          "x-ms-summary": "Milestone events"
        },
        "feature_flag_events": {
          "type": "boolean",
          "description": "Whether the hook fires on feature flag events.",
          "x-ms-summary": "Feature flag events"
        },
        "resource_access_token_events": {
          "type": "boolean",
          "description": "Whether the hook fires on project access token expiry events.",
          "x-ms-summary": "Access token events"
        },
        "enable_ssl_verification": {
          "type": "boolean",
          "description": "Whether SSL verification is enabled.",
          "x-ms-summary": "SSL verification"
        },
        "created_at": {
          "type": "string",
          "description": "Creation timestamp.",
          "x-ms-summary": "Created at"
        }
      }
    },
    "IssueEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "description": "Event kind (issue).",
          "x-ms-summary": "Object kind"
        },
        "event_type": {
          "type": "string",
          "description": "Event type.",
          "x-ms-summary": "Event type"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "type": "object",
          "description": "The project the event belongs to.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Project ID.",
              "x-ms-summary": "Project ID"
            },
            "name": {
              "type": "string",
              "description": "Project name.",
              "x-ms-summary": "Project name"
            },
            "path_with_namespace": {
              "type": "string",
              "description": "Full path including namespace.",
              "x-ms-summary": "Path with namespace"
            },
            "web_url": {
              "type": "string",
              "description": "Project URL.",
              "x-ms-summary": "Project URL"
            }
          }
        },
        "object_attributes": {
          "type": "object",
          "description": "The issue that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "description": "Global issue ID.",
              "x-ms-summary": "Issue ID"
            },
            "iid": {
              "type": "integer",
              "description": "Internal issue ID within the project.",
              "x-ms-summary": "Issue IID"
            },
            "title": {
              "type": "string",
              "description": "Issue title.",
              "x-ms-summary": "Title"
            },
            "description": {
              "type": "string",
              "description": "Issue description.",
              "x-ms-summary": "Description"
            },
            "state": {
              "type": "string",
              "description": "Issue state.",
              "x-ms-summary": "State"
            },
            "action": {
              "type": "string",
              "description": "The action that occurred (open, update, close, reopen).",
              "x-ms-summary": "Action"
            },
            "url": {
              "type": "string",
              "description": "Issue URL.",
              "x-ms-summary": "URL"
            },
            "created_at": {
              "type": "string",
              "description": "Creation timestamp.",
              "x-ms-summary": "Created at"
            },
            "updated_at": {
              "type": "string",
              "description": "Last update timestamp.",
              "x-ms-summary": "Updated at"
            }
          }
        },
        "labels": {
          "type": "array",
          "description": "Labels applied to the issue.",
          "x-ms-summary": "Labels",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Label title.",
                "x-ms-summary": "Title"
              }
            }
          }
        }
      }
    },
    "EventProject": {
      "type": "object",
      "description": "The project the event belongs to.",
      "properties": {
        "id": {
          "type": "integer",
          "x-ms-summary": "Project ID"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Project name"
        },
        "path_with_namespace": {
          "type": "string",
          "x-ms-summary": "Path with namespace"
        },
        "web_url": {
          "type": "string",
          "x-ms-summary": "Project URL"
        },
        "default_branch": {
          "type": "string",
          "x-ms-summary": "Default branch"
        }
      }
    },
    "PushEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_name": {
          "type": "string",
          "x-ms-summary": "Event name"
        },
        "before": {
          "type": "string",
          "x-ms-summary": "Before SHA"
        },
        "after": {
          "type": "string",
          "x-ms-summary": "After SHA"
        },
        "ref": {
          "type": "string",
          "x-ms-summary": "Ref"
        },
        "checkout_sha": {
          "type": "string",
          "x-ms-summary": "Checkout SHA"
        },
        "user_id": {
          "type": "integer",
          "x-ms-summary": "User ID"
        },
        "user_name": {
          "type": "string",
          "x-ms-summary": "User name"
        },
        "user_username": {
          "type": "string",
          "x-ms-summary": "User username"
        },
        "user_email": {
          "type": "string",
          "x-ms-summary": "User email"
        },
        "project_id": {
          "type": "integer",
          "x-ms-summary": "Project ID"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "total_commits_count": {
          "type": "integer",
          "x-ms-summary": "Total commits count"
        }
      }
    },
    "TagPushEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_name": {
          "type": "string",
          "x-ms-summary": "Event name"
        },
        "before": {
          "type": "string",
          "x-ms-summary": "Before SHA"
        },
        "after": {
          "type": "string",
          "x-ms-summary": "After SHA"
        },
        "ref": {
          "type": "string",
          "x-ms-summary": "Tag ref"
        },
        "checkout_sha": {
          "type": "string",
          "x-ms-summary": "Checkout SHA"
        },
        "user_id": {
          "type": "integer",
          "x-ms-summary": "User ID"
        },
        "user_name": {
          "type": "string",
          "x-ms-summary": "User name"
        },
        "project_id": {
          "type": "integer",
          "x-ms-summary": "Project ID"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "total_commits_count": {
          "type": "integer",
          "x-ms-summary": "Total commits count"
        }
      }
    },
    "MergeRequestEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_type": {
          "type": "string",
          "x-ms-summary": "Event type"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The merge request that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "iid": {
              "type": "integer",
              "x-ms-summary": "IID"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Title"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description"
            },
            "state": {
              "type": "string",
              "x-ms-summary": "State"
            },
            "action": {
              "type": "string",
              "x-ms-summary": "Action"
            },
            "source_branch": {
              "type": "string",
              "x-ms-summary": "Source branch"
            },
            "target_branch": {
              "type": "string",
              "x-ms-summary": "Target branch"
            },
            "merge_status": {
              "type": "string",
              "x-ms-summary": "Merge status"
            },
            "url": {
              "type": "string",
              "x-ms-summary": "URL"
            },
            "created_at": {
              "type": "string",
              "x-ms-summary": "Created at"
            },
            "updated_at": {
              "type": "string",
              "x-ms-summary": "Updated at"
            }
          }
        }
      }
    },
    "NoteEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_type": {
          "type": "string",
          "x-ms-summary": "Event type"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The comment (note) that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "note": {
              "type": "string",
              "x-ms-summary": "Note body"
            },
            "noteable_type": {
              "type": "string",
              "x-ms-summary": "Noteable type"
            },
            "author_id": {
              "type": "integer",
              "x-ms-summary": "Author ID"
            },
            "url": {
              "type": "string",
              "x-ms-summary": "URL"
            },
            "created_at": {
              "type": "string",
              "x-ms-summary": "Created at"
            }
          }
        }
      }
    },
    "PipelineEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The pipeline that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "iid": {
              "type": "integer",
              "x-ms-summary": "IID"
            },
            "ref": {
              "type": "string",
              "x-ms-summary": "Ref"
            },
            "sha": {
              "type": "string",
              "x-ms-summary": "SHA"
            },
            "source": {
              "type": "string",
              "x-ms-summary": "Source"
            },
            "status": {
              "type": "string",
              "x-ms-summary": "Status"
            },
            "created_at": {
              "type": "string",
              "x-ms-summary": "Created at"
            },
            "finished_at": {
              "type": "string",
              "x-ms-summary": "Finished at"
            },
            "duration": {
              "type": "integer",
              "x-ms-summary": "Duration (seconds)"
            }
          }
        }
      }
    },
    "JobEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "ref": {
          "type": "string",
          "x-ms-summary": "Ref"
        },
        "sha": {
          "type": "string",
          "x-ms-summary": "SHA"
        },
        "build_id": {
          "type": "integer",
          "x-ms-summary": "Job ID"
        },
        "build_name": {
          "type": "string",
          "x-ms-summary": "Job name"
        },
        "build_stage": {
          "type": "string",
          "x-ms-summary": "Stage"
        },
        "build_status": {
          "type": "string",
          "x-ms-summary": "Status"
        },
        "build_started_at": {
          "type": "string",
          "x-ms-summary": "Started at"
        },
        "build_finished_at": {
          "type": "string",
          "x-ms-summary": "Finished at"
        },
        "pipeline_id": {
          "type": "integer",
          "x-ms-summary": "Pipeline ID"
        },
        "project_id": {
          "type": "integer",
          "x-ms-summary": "Project ID"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        }
      }
    },
    "WikiPageEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The wiki page that triggered the event.",
          "properties": {
            "title": {
              "type": "string",
              "x-ms-summary": "Title"
            },
            "slug": {
              "type": "string",
              "x-ms-summary": "Slug"
            },
            "action": {
              "type": "string",
              "x-ms-summary": "Action"
            },
            "format": {
              "type": "string",
              "x-ms-summary": "Format"
            },
            "message": {
              "type": "string",
              "x-ms-summary": "Message"
            },
            "url": {
              "type": "string",
              "x-ms-summary": "URL"
            }
          }
        }
      }
    },
    "DeploymentEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status"
        },
        "status_changed_at": {
          "type": "string",
          "x-ms-summary": "Status changed at"
        },
        "deployment_id": {
          "type": "integer",
          "x-ms-summary": "Deployment ID"
        },
        "deployable_id": {
          "type": "integer",
          "x-ms-summary": "Deployable (job) ID"
        },
        "environment": {
          "type": "string",
          "x-ms-summary": "Environment"
        },
        "ref": {
          "type": "string",
          "x-ms-summary": "Ref"
        },
        "sha": {
          "type": "string",
          "x-ms-summary": "SHA"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        }
      }
    },
    "ReleaseEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "action": {
          "type": "string",
          "x-ms-summary": "Action"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "tag": {
          "type": "string",
          "x-ms-summary": "Tag"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description"
        },
        "created_at": {
          "type": "string",
          "x-ms-summary": "Created at"
        },
        "released_at": {
          "type": "string",
          "x-ms-summary": "Released at"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "URL"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        }
      }
    },
    "MilestoneEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_type": {
          "type": "string",
          "x-ms-summary": "Event type"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The milestone that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "iid": {
              "type": "integer",
              "x-ms-summary": "IID"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Title"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description"
            },
            "state": {
              "type": "string",
              "x-ms-summary": "State"
            },
            "action": {
              "type": "string",
              "x-ms-summary": "Action"
            },
            "due_date": {
              "type": "string",
              "x-ms-summary": "Due date"
            },
            "start_date": {
              "type": "string",
              "x-ms-summary": "Start date"
            }
          }
        }
      }
    },
    "FeatureFlagEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "user": {
          "$ref": "#/definitions/UserRef"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The feature flag that triggered the event.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description"
            },
            "active": {
              "type": "boolean",
              "x-ms-summary": "Active"
            }
          }
        }
      }
    },
    "AccessTokenEvent": {
      "type": "object",
      "properties": {
        "object_kind": {
          "type": "string",
          "x-ms-summary": "Object kind"
        },
        "event_name": {
          "type": "string",
          "x-ms-summary": "Event name"
        },
        "project": {
          "$ref": "#/definitions/EventProject"
        },
        "object_attributes": {
          "type": "object",
          "description": "The project access token that is expiring.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name"
            },
            "expires_at": {
              "type": "string",
              "x-ms-summary": "Expires at"
            }
          }
        }
      }
    },
    "Branch": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Name"
        },
        "merged": {
          "type": "boolean",
          "x-ms-summary": "Merged"
        },
        "protected": {
          "type": "boolean",
          "x-ms-summary": "Protected"
        },
        "default": {
          "type": "boolean",
          "x-ms-summary": "Default branch"
        },
        "web_url": {
          "type": "string",
          "x-ms-summary": "Web URL"
        },
        "commit": {
          "type": "object",
          "description": "Most recent commit on the branch.",
          "properties": {
            "id": {
              "type": "string",
              "x-ms-summary": "Commit SHA"
            },
            "short_id": {
              "type": "string",
              "x-ms-summary": "Short SHA"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Title"
            },
            "message": {
              "type": "string",
              "x-ms-summary": "Message"
            },
            "author_name": {
              "type": "string",
              "x-ms-summary": "Author name"
            },
            "created_at": {
              "type": "string",
              "x-ms-summary": "Created at"
            },
            "web_url": {
              "type": "string",
              "x-ms-summary": "Commit URL"
            }
          }
        }
      }
    },
    "Commit": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Commit SHA"
        },
        "short_id": {
          "type": "string",
          "x-ms-summary": "Short SHA"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title"
        },
        "message": {
          "type": "string",
          "x-ms-summary": "Message"
        },
        "author_name": {
          "type": "string",
          "x-ms-summary": "Author name"
        },
        "author_email": {
          "type": "string",
          "x-ms-summary": "Author email"
        },
        "authored_date": {
          "type": "string",
          "x-ms-summary": "Authored date"
        },
        "committer_name": {
          "type": "string",
          "x-ms-summary": "Committer name"
        },
        "committed_date": {
          "type": "string",
          "x-ms-summary": "Committed date"
        },
        "parent_ids": {
          "type": "array",
          "description": "Parent commit SHAs.",
          "x-ms-summary": "Parent IDs",
          "items": {
            "type": "string"
          }
        },
        "web_url": {
          "type": "string",
          "x-ms-summary": "Commit URL"
        }
      }
    },
    "FileContent": {
      "type": "object",
      "properties": {
        "file_name": {
          "type": "string",
          "x-ms-summary": "File name"
        },
        "file_path": {
          "type": "string",
          "x-ms-summary": "File path"
        },
        "size": {
          "type": "integer",
          "x-ms-summary": "Size (bytes)"
        },
        "encoding": {
          "type": "string",
          "x-ms-summary": "Encoding"
        },
        "content": {
          "type": "string",
          "description": "File content, Base64 encoded.",
          "x-ms-summary": "Content"
        },
        "content_sha256": {
          "type": "string",
          "x-ms-summary": "Content SHA256"
        },
        "ref": {
          "type": "string",
          "x-ms-summary": "Ref"
        },
        "blob_id": {
          "type": "string",
          "x-ms-summary": "Blob ID"
        },
        "commit_id": {
          "type": "string",
          "x-ms-summary": "Commit ID"
        },
        "last_commit_id": {
          "type": "string",
          "x-ms-summary": "Last commit ID"
        }
      }
    },
    "CreateProjectRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the new project.",
          "x-ms-summary": "Name"
        },
        "path": {
          "type": "string",
          "description": "Custom repository path for the project.",
          "x-ms-summary": "Path"
        },
        "namespace_id": {
          "type": "integer",
          "description": "Namespace (group) ID for the new project; defaults to the current user.",
          "x-ms-summary": "Namespace ID"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description"
        },
        "visibility": {
          "type": "string",
          "enum": [
            "private",
            "internal",
            "public"
          ],
          "description": "Project visibility.",
          "x-ms-summary": "Visibility"
        },
        "initialize_with_readme": {
          "type": "boolean",
          "description": "Create a README so the repository has a default branch.",
          "x-ms-summary": "Initialize with README"
        },
        "default_branch": {
          "type": "string",
          "x-ms-summary": "Default branch"
        }
      }
    },
    "ForkProjectRequest": {
      "type": "object",
      "properties": {
        "namespace_id": {
          "type": "integer",
          "description": "ID of the namespace to fork into.",
          "x-ms-summary": "Target namespace ID"
        },
        "namespace_path": {
          "type": "string",
          "description": "Path of the namespace to fork into.",
          "x-ms-summary": "Target namespace path"
        },
        "path": {
          "type": "string",
          "description": "Path of the forked project.",
          "x-ms-summary": "Path"
        },
        "name": {
          "type": "string",
          "description": "Name of the forked project.",
          "x-ms-summary": "Name"
        }
      }
    },
    "UpdateMergeRequestRequest": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description"
        },
        "target_branch": {
          "type": "string",
          "x-ms-summary": "Target branch"
        },
        "state_event": {
          "type": "string",
          "enum": [
            "close",
            "reopen"
          ],
          "description": "State transition to apply.",
          "x-ms-summary": "State event"
        },
        "labels": {
          "type": "string",
          "description": "Comma-separated list of label names (replaces existing).",
          "x-ms-summary": "Labels"
        },
        "remove_source_branch": {
          "type": "boolean",
          "x-ms-summary": "Remove source branch"
        }
      }
    },
    "MergeMergeRequestRequest": {
      "type": "object",
      "properties": {
        "merge_commit_message": {
          "type": "string",
[...]
